*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/pozadina.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    height: auto;
}

.nav-links{
    flex: 1;
    text-align: right;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f21;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;

}


.text-box{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 65px;

}
.text-box p{
    color: aliceblue;
}

input[type=password]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     width: 150px;
     height: 20px;
     padding-left: 10px;
    }
    /*stavit skupa u jednoj*/
 input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #2d9fd9;
    width: 150px;
    height: 20px;
    padding-left: 10px;
    }
        


.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid aliceblue;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f21;
    background: #f21;
    transition: 1s;


}

nav .fa{
    display: none;
}

#login_button {
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border-radius: 6px;
    padding: 3px 4px;


   }

   #login_button:hover{
    border: 1px solid #f21;
    background: #f21;
    transition: 1s;
   }

@media(max-width: 700px){
    .text-box h1{
        font-size: 45px;
    
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
    position: absolute;
    background:#f21 ;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;

    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 20px;

    }
}


/* Nova sekcija*/

.info{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
    

}

h1{
    font-size:36px;
    font-weight: 14px;
}

p{
    color: gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.info-col{
    flex-basis: 31%;
    background: blanchedalmond ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.info-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*slike*/

.pictures{
    width: 90%;
    margin:auto;
    text-align: center;
    padding-top: 50px; 
}

.pictures-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom:relative;
    position: relative;
    overflow: hidden;

}

.pictures-col{
    width: 80%;
    display: block;
    
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.layer:hover{
    background: rgba(134, 206, 108, 0.7);
   
}

.layer h3{

    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;

}

.layer:hover h3{
    bottom:49%;
    opacity: 1;
}



/*triba jos za mobitel uredit slike*/
/*zadnji section*/

.cta{
    margin:100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/pitch.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}

.cta p{
    color: aliceblue;
}

.cta h1{
    color:aliceblue;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:700px){
    .cta h1{
        font-size:24px;
    }
}

.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
    


}

.footer h4{
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 200;

}

.icons .fa{
    color: #f21;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


/* Homepage*/

.sub-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/pozadina.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.sub-header h1{

    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

.newtext-box{
    flex-basis: 31%;
    background: aliceblue ;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
    
    padding: 20px 30px;
    box-sizing: border-box;
}

.newtext-box .fa-times-circle{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    color:red;
    font-size: 75px;
    cursor: pointer;
    
}


.newtext-box .fa-check-circle{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    color: green;
    font-size: 75px;
    cursor: pointer;
    
}


/* singup stranica*/

.signheader{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/pozadina.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.signheader h1{

    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

.formbox{
    text-align: center;
    flex-basis: 31%;
    background: aliceblue ;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 5%;
    margin-left: 37%;
    margin-right: 37%;
    
    padding: 20px 30px;
    box-sizing: border-box;
}



.accountheader{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/pozadina.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.accountheader h1{
    text-align: center;
    size: 45px;
    color: aliceblue;
}

.accrow{
    
    margin-top: 3%;
    margin-right: 13%;
    margin-left: 13%;
    display: flex;  
    text-align: center;
    
    
}

.col{
    
    flex-basis: 31%;
    border-radius: 10px;
    background: aliceblue ;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;  
}